.loader__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.loaderBall {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(174, 252, 245);
  animation: bounce 800ms infinite;
  transform: translate3d(0, 0, 0);
}

.loaderBall:nth-child(2) {
  background-color: rgb(64, 211, 221);
  animation-delay: 200ms;
}

.loaderBall:nth-child(3) {
  background-color: rgb(18, 170, 150);
  animation-delay: 400ms;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, -16px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
